
@{
    ViewBag.Title = "Index";
}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">Tài khoản của tôi</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            
            <main class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <form class="row">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label>Tên</label>
                                        <input type="text" class="form-control" value="Phạm Đức Hiếu">
                                    </div> <!-- form-group end.// -->
                                    <div class="col form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" value="phamduchieu2502.com">
                                    </div> <!-- form-group end.// -->
                                </div> <!-- form-row.// -->

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Đất nước</label>
                                        <select id="inputState" class="form-control">
                                            <option> Choose...</option>
                                            <option>Uzbekistan</option>
                                            <option>Russia</option>
                                            <option selected="">Việt Nam</option>
                                            <option>India</option>
                                            <option>Afganistan</option>
                                        </select>
                                    </div> <!-- form-group end.// -->
                                    <div class="form-group col-md-6">
                                        <label>Thành phố</label>
                                        <input type="text" class="form-control">
                                    </div> <!-- form-group end.// -->
                                </div> <!-- form-row.// -->

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Mã vùng</label>
                                        <input type="text" class="form-control" value="123009">
                                    </div> <!-- form-group end.// -->
                                    <div class="form-group col-md-6">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" value="+123456789">
                                    </div> <!-- form-group end.// -->
                                </div> <!-- form-row.// -->

                                <button class="btn btn-primary">Lưu</button>
                                <button class="btn btn-light">Đổi mật khẩu?</button>

                                <br><br><br><br><br><br>

                            </div> <!-- col.// -->
                           <!-- col.// -->
                        </form>
                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->



            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
