
@{
    ViewBag.Title = "Index";
}

<section class="section-pagetop bg-light">
    <div class="container">
        <h2 class="title-page">TOTODAY - Hành trình 13 năm của thương hiệu thời trang phong cách Freestyle hàng đầu Việt Nam</h2>
    </div> <!-- container .// -->
</section>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">Thông tin về thương hiệu TOTODAY:</h5>
        <p>
            Thấu hiểu những kỳ vọng trên, năm 2009, Toto’s shop - Thương hiệu thời trang phong cách Freestyle Việt 
            đã chính thức ra đời với sứ mệnh giúp các bạn trẻ hiểu được giá trị bản thân, tự do thể hiện phong cách 
            và bản ngã của riêng mình. Đến năm 2013, thương hiệu đổi tên thành Totoshop và đẩy mạnh kinh doanh phát 
            triển rộng trên các thị trường ở Việt Nam. Sau 13 năm hình thành và phát triển, Totoshop với sự đa dạng 
            thời trang nam nữ, phụ kiện dần trở thành một điểm sáng trên bản đồ thời trang mang phong cách Freestyle 
            của Việt Nam.

            Quyết tâm mang đến những sản phẩm đa dạng phong cách cùng dịch vụ chất lượng, năm 2022, Totoshop đã có 
            bước chuyển mình mạnh mẽ và thay đổi định vị thương hiệu với tên TOTODAY.

            TOTODAY có thể đọc là “Tô Tô Đây!”, mang hàm nghĩa như một người bạn thân luôn sẵn sàng cạnh bên để hỗ 
            trợ, tư vấn và đáp ứng mọi nhu cầu thời trang của khách hàng. Đồng thời, cái tên này cũng được hiểu là 
            “To – today”, thể hiện một phiên bản mới của thương hiệu cùng những nỗ lực thay đổi để trở nên tốt hơn 
            mỗi ngày.
        </p>
        <p>
            Với lần trở lại mới này, TOTODAY cũng tập trung xây dựng đội ngũ nhân viên trẻ trung, am hiểu sản phẩm lẫn
            các xu hướng thịnh hành để có thể tư vấn và giúp khách hàng có những trải nghiệm mua sắm tuyệt vời nhất.
            TOTODAY hứa hẹn sẽ trở thành “người bạn thân” của khách hàng trong việc thể hiện cá tính thời trang riêng của mình.
        </p>



        <div class="row mt-5">
            <div class="col-md-4">

                <p>
                    <h4><strong>Bền vững như Mộc</strong></h4>
                    Mệnh Mộc vốn dĩ được biết đến là biểu tượng của sự sống và thiên nhiên cây cỏ.
                    Ở người mệnh Mộc luôn luôn tồn tại sự lạc quan, phóng khoáng và rất kiên định 
                    với lựa chọn của mình. Vì vậy, việc lựa chọn những trang phục có gam màu xanh 
                    lá sẽ vô cùng tương thích với người mang bản mệnh này, giúp họ tạo nên nguồn 
                    sinh khí hưng vượng và thúc đẩy tâm trạng thêm thoải mái. Vừa khéo, gam màu 
                    xanh mướt này còn giúp hô biến vẻ ngoài của người mặc thêm trẻ trung, phong 
                    cách và tự tin.
                </p>

                </article>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <p>
                    <h4><strong>Khát vọng như Thủy</strong></h4>
                    Tiếp nối vòng quay ngũ hành trong tự nhiên là những cá nhân mang mệnh Thủy - bản
                    mệnh đại diện cho sự uyển chuyển của nước, vẻ đẹp của nghệ thuật và luôn mang đến
                    cho người đối diện sự thoải mái khi giao tiếp bằng tính cách hoạt ngôn của mình.
                    Cũng chính nhờ sự hoạt ngôn này mà người mệnh Thủy ít khi gặp khó khăn trong việc
                    thích nghi với môi trường mới. Không những thế, họ còn là người luôn biết lắng nghe
                    và đồng cảm với những chia sẻ của người khác.
                </p>
            </div> <!-- col.// -->
            <div class="col-md-4">
                <p>
                    <h4><strong>Nhiệt huyết như Hỏa</strong></h4>
                    Mệnh Hỏa - người con của lửa và là đại diện của tinh thần dũng cảm, ý chí kiên cường.
                    Khi tiếp xúc với họ, bạn sẽ cảm nhận được ở họ có sự nhiệt huyết mãnh liệt trong công
                    việc nhưng đồng thời cũng tạo nên cảm giác ấm áp cho mọi người xung quanh. Ưu điểm lớn
                    nhất của người mệnh Hỏa chính là sự dứt khoát và nhanh nhạy khi đưa ra quyết định nên
                    họ thường chớp lấy được những thời cơ tốt trong cuộc sống.
                </p>
            </div> <!-- col.// -->
        </div> <!-- row.// -->

        <br><br>

        <a href="javascript: history.back()" class="btn btn-light"> &laquo Trở về</a> 



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
