<section class="section-content padding-y">
    <div class="container">

        <header class="section-heading">
            <h2 class="section-title">All components </h2>
        </header><!-- sect-heading -->

        <article>

            <p>Please open the folder <i class="fa fa-folder text-warning"></i> /<strong><a target="_blank" href="_HTML-Components/">HTML-Components</a></strong> </p>
            <p>Each component created in separated file</p>



        </article>


    </div> <!-- container .//  -->
</section>
