    @model WebBanHang.Context.User

@{
    ViewBag.Title = "Login";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <center><h3>Đăng nhập</h3></center>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        @Html.PasswordFor(m => m.PasswordUser, new { @class = "form-control", @placeholder = "Vui lòng nhập mật khẩu ở đây!" })
                    </div>
                    
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Nhớ mật khẩu
                            </label>
                        </div>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Bạn có tài khoản chưa? <mark>
                                <a href="https://localhost:44370/Home/Register"
                                   class="text-danger font-weight-bold">Đăng kí</a>
                            </mark>
                        </p>
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                            <input type="submit" name="submit" class="btn btn-primary" value="Đăng nhập" style="padding-left: 5rem; padding-top: 0.5rem; padding-right: 5rem; padding-bottom: 0.5rem; " />
                    </div>
                }
            </div>
                </div>
    </div>
</div>
